<template>
  <require from="./style.css"></require>
  <require from="../../converters/arrayfilter"></require>

  <h1>${title}</h1>

  <div class="nutrition-facts">
    <!-- Calories information -->
    <span class="nutrition-facts-wrapper">
      <img src="/static/calories.png" alt="" />

      <div class="info">
        <span>${data.CaloriesAvg}</span>
        <span>Avg Calories</span>
      </div>

      <span class="badge ${caloriesAvgDelta === 0 ? '' : (caloriesAvgDelta > 0 ? 'up' : 'down')}">
        <span>${caloriesAvgDelta === 0 ? '' : (caloriesAvgDelta > 0 ? '↓' : '↑')}</span>
        ${caloriesAvgDelta || ''}
      </span>
    </span>

    <!-- Fat information -->
    <span class="nutrition-facts-wrapper">
      <img src="/static/fat.png" alt="" />

      <div class="info">
        <span>${data.FatAvg}g</span>
        <span>Fat Per Serving</span>
      </div>

      <span class="badge ${fatAvgDelta === 0 ? '' : (fatAvgDelta > 0 ? 'up' : 'down')}">
        <span>${fatAvgDelta === 0 ? '' : (fatAvgDelta > 0 ? '↓' : '↑')}</span>
        ${fatAvgDelta ? fatAvgDelta+'g' : ''}
      </span>
    </span>
  </div>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>images</th>
        <th>calories</th>
        <th>fat per serving</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="fish of data.fishes">
        <td>${fish.SpeciesName}</td>
        <td>
          <template if.bind="fish.ImageGallery | arrayfilter">
          <template repeat.for="image of fish.ImageGallery">
            <img src="${image.src}" alt="${image.alt}" title="${image.title}" />
          </template>
          </template>
        </td>
        <td>${fish.Calories}</td>
        <td>${fish.FatTotal}</td>
        <td innerhtml="${fish.PhysicalDescription}"></td>
      </tr>
    </tbody>
  </table>

</template>
